{
    "presets": [
        "stage-3",
        ["env", {
            "targets": {
                "browsers": [
                    "last 2 versions"
                ]
            },
            "modules": false
        }]
    ],
    "plugins": [
        ["transform-runtime", {
            "helpers": true,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "/babel-runtime"
        }],
        "external-helpers"
    ]
}